.profile{
    background-color: rgb(27, 25, 25);
    width: 100%;
    color: white ;
    /* height: 250px; */
}
.Profile-Img{
    height: 230px;
    width: 230px;
    border-radius: 50%;
    border: 10px solid rgb(66, 63, 63);
}